<h1>Create an article</h1>

<%# if its in the same directory, we don't need to specify the folder. %>
<%# if its in a shared directory, it should be <%= render 'shared/form' %> 
<%= render 'form' %> 





