<div class= "center jumbotron">
  <h1>This is the homepage</h1>
</div>
<%# to just run ruby%>
<%# to have ruby show on page  %>
<%# <%=link_to "About", "about"%> 
<%# <%=link_to "About", about_path %>
<%# <%=link_to "Articles", articles_path %> %>
<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>